body {
  background: #1a1a2e;
  color: hsl(230, 46%, 95%);
}

.app-container {
  display: flex;
  overflow: hidden;
}

aside {
  height: 100vh;
  width: 20rem;
  //border: 2px solid red;
}

main {
  width: 80%;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.active {
  color: green;
}

.projects-container {
  //display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.project-card {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px lightgray;
}

.project-image {
  height: 25rem;
  //border: 2px solid green;
}

img {
  height: 25rem;
  width: auto;
}

button {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 0.5rem 0.8rem;
  border: none;
  cursor: pointer;
}

/* SINGLE PROJECT CARD */

.single-project-card {
}

.project-links {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.btn {
  border-radius: 20px;
  border: 2px solid #E94560;
  width: 5rem;
  padding-block: 0.3rem;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-out;
  color:  #E94560;
}

.btn-dark {
  background: #E94560;
  color: white;
}

.btn:hover {
  background:  #E94560;
  color: white;
}

.btn-dark:hover {
  background: none;
  color:  #E94560;
}
